<!-- author pratham shroff (pshroff@bu.edu) -->
<head>
    <title>Add a Friend!</title>
</head>
    <body>
        <div class="title">
            <h1>Add a friend on Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/addfriend">
                <label for="caption">Friend's email:</label>
                <input type="email" name="friendEmail" required='true' /><br />
                <input type="submit" value="Add" />
            </form>
    </body>
