<!doctype html>

{% if message %}
  <h2>{{message}}!</h2>
{% endif %}

<title>Profile of {{user[1]}}</title>


  <!-- Displays albums in /profile
      album=(album_id, album_name, doc, user_id )
      user = user_id, email-->

{% if albums %}      
  <h2>Albums of {{user[1]}}:</h2>
  <ul>
    {% for album in albums %}
       <!-- <li><a href='/user{{user[0]}}/album{{album[0]}}'>{{album[1]}}</a></li> -->
      <li><a href="{{ url_for('user_photos', user=user, album=album) }}">{{album[1]}}</a></li>

    {% endfor %}
  </ul>
{% endif %}      


<h2>Add/Remove Album</h2>

    <form method="post" enctype="multipart/form-data" action="/user_albums">

      <label for="action">Action:</label>
            <input type="radio" id="Add" name="action" value="Add">
            <label for="action">Add</label>
            <input type="radio" id="Remove" name="action" value="Remove">
            <label for="action">Remove</label><br>

      <label for="albumName">Unique Album Name:</label>
      <input type="text" name = "albumName" />
      <input type="submit" value="Create!" />
    </form>

<ul>
  <li><a href='/'>Home</a></li>
</ul>